#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
bindings/kotlin/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf
*.json          text eol=lf
# Binary files should be left untouched
*.jar           binary

# Test data JSON files are actually binary blobs
test/data/*.json binary

