/build
.vscode
bindings/swift/src/include
bindings/swift/.build
bindings/kotlin/.cxx
bindings/emscripten/node_modules
bindings/kotlin/build
bindings/kotlin/lib/build
bindings/kotlin/.gradle
test/embedded/sdcard.img
test/embedded/memory_map.txt
/.memcached
bindings/emscripten/webpack/dist
bindings/emscripten/webpack/node_modules
bindings/kotlin/*.log
/build_x86
/build_*
/build-*
.data

# Generated config files
bindings/emscripten/test/test_config.js
bindings/emscripten/webpack/webpack_build_config.mjs