name: Docker Proofer CI

on:
  workflow_call:

jobs:

  docker-proofer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t colibri-server -f bindings/docker/Dockerfile .
