name: Emscripten CI

on:
  workflow_call:

jobs:

  emscripten:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.3

      - name: Build with Emscripten
        run: |
          emcmake cmake -B build -DWASM=true -DCLI=false -DTEST=false -DCURL=false -DCMAKE_BUILD_TYPE=MINSIZREL -S .
          cmake --build build

      - name: Run tests
        run: |
          cd bindings/emscripten
          npm test
          cd ../../

      - name: Create WASM Package
        run: |
          cd build/emscripten
          zip -r ../../colibri-wasm.zip ./*
          cd ../..

      - name: Upload WASM
        uses: actions/upload-artifact@v4
        with:
          name: c4-wasm
          path: colibri-wasm.zip

      - name: Set package version from tag
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          TAG_VERSION=${GITHUB_REF#refs/tags/v}
          echo "Setting version to $TAG_VERSION in package.json"
          npm version $TAG_VERSION --no-git-tag-version
        working-directory: build/emscripten

      - name: Publish to npm
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: build/emscripten
