name: Bindings Pipeline

on:
  push:
    branches: ["main", "dev"]
    tags:
      - "v*" # Trigger on version tags
  pull_request:
    branches: ["main", "dev"]

# Add permissions block at the top level
permissions:
  contents: write # Required for creating releases and uploading assets
  checks: write
  pull-requests: write
  actions: read


jobs:
  swift:
    uses: ./.github/workflows/bindings-swift.yml
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

  kotlin:
    uses: ./.github/workflows/bindings-kotlin.yml

  emscripten:
    uses: ./.github/workflows/bindings-emscripten.yml
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  python:
    uses: ./.github/workflows/bindings-python.yml
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

  docker-proofer:
    uses: ./.github/workflows/bindings-docker.yml

  rust:
    uses: ./.github/workflows/bindings-rust.yml
    secrets:
      CRATES_IO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}


