name: Bindings Pipeline

on:
  push:
    branches: ["main", "dev"]
    tags:
      - "v*" # Trigger on version tags
  pull_request:
    branches: ["main", "dev"]

# Add permissions block at the top level
permissions:
  contents: write # Required for creating releases and uploading assets
  checks: write
  pull-requests: write
  actions: read


jobs:
  swift:
    uses: ./.github/workflows/bindings-swift.yml@swift_bindings

  kotlin:
    uses: ./.github/workflows/bindings-kotlin.yml@swift_bindings

  emscripten:
    uses: ./.github/workflows/bindings-emscripten.yml@swift_bindings

  docker-proofer:
    uses: ./.github/workflows/bindings-docker.yml@swift_bindings

